a, a:visited, a:hover {
    color: white;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.inside-page {
    margin: 0 auto;

    .main-content {
        margin: 0 auto;
    }

    footer {
        margin: 0 auto;
    }
}

body {
    font-family: $default-fonts;
}

body {
    // .side-nav{
    //     left: 18%;
    //     @include ;
    // }

    #footer {
        .collapse-nav .dropdown-menu {
            @include breakpoint(tablet) {
                left: 8%;
            }

            @include breakpoint(phablet) {
                left: 32.5%;
            }

            @include breakpoint(phablet-sm) {
                left: 36%;
            }

            // @include breakpoint(mobile) {
            //     left: 20%;
            // }

            @include breakpoint(mobile-sm) {
                left: 24%;
            }

            @include breakpoint(mobile-xs) {
                left: 20%;
            }
        }

        .btn,
        .btn:hover,
        .btn:active,
        .btn:visited {
            outline: none;
        }
    }

    &.white {
        nav {
            .dropdown {
                > .dropdown-toggle {
                    // border-radius: 500px;
               
                }

                a {
                    &:visited,
                    &:hover,
                    &:active {
                        color: #fff;
                    }
                }
            }

            .btn-group {
                background-color: $dark-menu-bg;
                padding: 9px 18px;
                border-radius: 4px;
                // border-radius: 500px;

                .btn-link {
                    color: #fff;
                }

                a {
                    color: #fff;
                }

                > a {
                    color: #fff;

                    &:visited,
                    &:hover,
                    &:active {
                        color: #fff;
                    }
                }
            }

            .dropdown ul.dropdown-menu {
                z-index: -10;
                margin-left: 0;
                padding-top: 15px;
                padding-left: 0;
                padding-right: 0;
                left: auto;
                min-width: 155px;
                margin-top: -20px;
            }

            .btn-group .dropdown-menu {
                background-color: $dark-menu-bg;
                min-width: 150px;
                padding-left: 20px;
                margin-left: -18px;

                @include breakpoint(tablet) {
                    margin-top: -18px;
                }

                @include breakpoint(phablet-sm) {
                    margin-top: -10px;
                }

                @include breakpoint(mobile-xs) {
                    z-index: -10;
                    margin-top: -26px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                }
            }
        }

        .side-nav {
            @include breakpoint(phablet-sm) {
                left: 0;
            }

            @include breakpoint(mobile-xs) {
                left: 18%;
                margin: 0 auto 50px;
            }
        }

        #footer {
            background-color: #fff;

            .dropdown-menu {
                background-color: $dark-menu-bg;
            }

            .btn,
            .btn:hover,
            .btn:active,
            .btn:visited {
                outline: none;
            }
        }
    }

    // nav {
    //     .btn-group .dropdown-menu {
    //         @include breakpoint(mobile-xs) {
    //             z-index: -10;
    //             margin-top: -24px;
    //             padding-top: 20px;
    //             padding-bottom: 10px;
    //         }
    //     }

    //     .dropdown-menu {
    //         background-color: $dark-menu-bg;
    //         margin-top: -8px;
    //         margin-left: -18px;
    //         min-width: 150px;

    //         a {
    //             color: #fff;
    //         }
    //     }
    // }

    // #footer {
    //     background-color: #fff;
    // }
}

nav {
    z-index: 60;
    position: absolute;
    cursor: pointer;

    .btn-group {
        a {
            font-family: $default-fonts;
            font-weight: 100;

            &:first-child {
                padding-left: 0;
            }

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .dropdown-menu {
        padding-left: 15px;
        padding-right: 0;
        left: -28px;
        @include breakpoint(phablet-sm){
            a{
                font-size: 20px;
            }

        }
    }

    @include breakpoint(tablet) {
        .drop-down {
            background: url("../images/home_page/SM_Triangle.png") no-repeat;
            text-align: left;
            display: inline-block;
            top: 10px;
            background-size: contain;
        }

        .dropdown-menu {
            width: 100%;
            background-color: $background-color;
            box-shadow: none;
            border: none;
            padding-left: 15px;
            padding-right: 0;
            margin-left: -14px;
            left: auto;

            a {
                color: #fff;
                // padding-left: 0;

                &:hover,
                &:focus,
                &:active {
                    color: #fff;
                    font-weight: bold;
                    background-color: transparent;
                }
            }
        }
    }

    ul {
        display: none;

        li {
            a {
                padding-left: 0;
            }

            &:hover,
            &:focus,
            &:active {
                font-weight: bold;
            }
        }
    }
}

/*----- Desktop Styles -----*/
html {
    background-color: $background-color;
}

.inside-page {
    // width: 1280px;
    padding: 85px 0;

    .main-content {
        // width: 625px;
        @include make-sm-column(6);
        @include make-sm-column-offset(3);
    }

    h1 {
        font-size: 2em;
        margin: 25px 0 10px;
    }

    // img {
    //     padding: 50px 0 25px;
    // }

    p {
        padding: 25px 0 0 0;
        line-height: 2em;
        text-align: justify;
    }

    footer {
        // width: 960px;

        p {
            text-align: center;
            padding: 0;
            margin: 30px 0;
        }
    }
}

// nav {
//     top: 60px;
//     left: 50px;
//     width: 130px;
//     font-size: .9em;
//     line-height: 1.8em;
// }

footer {
    padding: 40px;

    p {
        margin: 40px 0;
        font-size: .9em;
    }

    p:nth-child(1) {
        a {
            margin: 0px 40px;

            &:nth-child(1) {
                margin-left: 0px;
            }

            &:nth-last-child(1) {
                margin-right: 0px;
            }
        }
    }

    p:nth-child(2) {
        letter-spacing: .215em;
        word-spacing: 7px;
    }
}