@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "helper/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "dark_inside_pages";

body {
    &.white {
        nav {
            .dropdown ul.dropdown-menu {
                z-index: -10;
                margin-left: 0;
                padding-top: 15px;
                padding-left: 0;
                padding-right: 0;
                left: auto;
                min-width: 158px;
                margin-top: -16px;

            }
            .btn-group .dropdown-menu{
                 @include breakpoint(mobile-xs) {
                    z-index: -10;
                    margin-top: -24px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                }
            }
        }

        .side-nav {
            @include breakpoint(phablet-sm) {
                left: 0;
            }

            @include breakpoint(mobile) {
                left: 18%;
                margin: 0 auto 50px;
            }
        }
    }
}

.inside-page {
    padding-top: 0;
    position: relative;

    &:before {
        content: "";
        height: 600px;
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 45px;
        background-image: url("../images/services_page/ferry-building.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .wrap {
        @include clearfix;
        display: block;
        position: relative;
        width: 100%;
        background-color: white;
    }

    .main-content {
        background-color: white;
        padding: 20px 40px;

        .icon {
            margin-bottom: 50px;

            @include breakpoint(phablet-sm) {
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: 80px;
            }
        }

        h1 {
            margin-top: 0;
            text-align: left;
            text-transform: none;
            font-weight: 400;
            font-size: 2.2em;
            margin-bottom: 10px;

            @include breakpoint(phablet) {
                text-align: left;
            }
        }

        h2 {
            text-transform: none;
            font-weight: 400;
            font-size: 1.7em;
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.2em;
            margin-top: 25px;
        }

        p {
            line-height: 1.2em;
            padding-top: 0;
            font-size: 1.2em;
        }
    }

    .content {
        background-color: white;
        @include clearfix;
        position: relative;

        @include breakpoint(mobile) {
            margin-top: 100px;
        }
    }

    .gap {
        @include make-row;
        height: 400px;
        display: block;

        @include breakpoint(mobile-xs) {
            height: 200px;
        }
    }

    // .team {
    //     padding: 40px 0;
    //     background-color: white;
    //     @include clearfix;
    //     position: relative;

    //     .list-unstyled {
    //         li {
    //             font-size: 1.2em;
    //             line-height: 2em;
    //         }
    //     }
    // }

    .step-process {
        list-style-type: decimal;
        margin: 20px 0;

        li {
            margin: 16px 0 16px 20px;
            line-height: 1.2em;
        }

        .step-summary {
            cursor: pointer;

            .more,
            .less {
                color: #a0a0a0;
                margin-left: 5px;
            }
        }

        .step-details,
        .less {
            display: none;
        }

        .step-details {
            line-height: 1.3em;
            padding: 10px 0;
        }
    }

    .g-started {
        margin-top: 30px;
        text-transform: uppercase;
        display: block;
    }

    .full-width {
        margin: 0 auto;
        background-color: white;
        @include clearfix;
        position: relative;
        margin-bottom: -100px;
    }

    .curtain {
        z-index: 2;
        background-color: #FFF;
        position: relative;
        padding: 60px 0;
        -webkit-transform: translate3d(0, 0, 0);
    }

    #footer {
        background-color: white;
    }
}