// Input Placeholder Styling
@mixin placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

// BREAKPOINTS

@mixin breakpoint($point) {
    @if $point == desktop-hd {
        @media (min-width: $screen-lg-min) {
            @content;
        }
    }

    @else if $point == desktop {
        @media (max-width: $screen-lg-min) {
            @content;
        }
    }

    @else if $point == laptop {
        @media (max-width: $screen-lg) {
            @content;
        }
    }

    @else if $point == tablet {
        @media (max-width: $screen-md-min) {
            @content;
        }
    }

    @else if $point == phablet {
        @media (max-width: $screen-md) {
            @content;
        }
    }

    @else if $point == phablet-sm {
        @media (max-width: 640px) {
            @content;
        }
    }

    @else if $point == mobile {
        @media (max-width: $screen-sm-min) {
            @content;
        }
    }

    @else if $point == mobile-sm {
        @media (max-width: $screen-xs-min) {
            @content;
        }
    }

    @else if $point == mobile-xs {
        @media (max-width: 639px) {
            @content;
        }
    }
}