@import 'universal';
body{
	background-color: $background-color;
	font-weight:100;
	color: $default-color;
}

nav{
	a{
		background-position: 94% 50%;
	}
}

/*------ Desktop Styles -----*/

.inside-page{
	h1{
		margin-top: 50px;
	}

	h2{
		font-size: 1.4em;
		margin: 30px 0 0 0;
	}
	
}
nav{
	padding:5px 10px;
}