@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);

/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*------ Universal Styles -------*/

//Color palette
$background-color: rgb(46,47,46);
$default-color: white;
$medium-gray: rgb(70,76,87);
$light-gray: rgb(95,95,95);
$lighter-gray: rgb(160,160,160);

//Typography
$default-fonts: 'Raleway',sans-serif;

a, a:visited, a:hover{
	color: white;
	text-decoration: none;
}

.inside-page{
	margin: 0 auto;

	.main-content{
		margin: 0 auto;
	}

	footer{
		margin: 0 auto;
	}
}

body{
	font-family:$default-fonts;
}

nav{
	position:absolute;
	cursor:pointer;

	.drop-down{
		background: url('../images/home_page/down-arrow.png') no-repeat 88% 45%;
		text-align: left;
		display: inline-block;
		width: 100%;
		
	}

	ul{
		text-align: left;
		display: none;

		li:hover{
			font-weight: bold;
		}
	}
}


/*----- Desktop Styles -----*/
html{
	background-color: $background-color;
}
.inside-page{
	width:1280px;
	padding: 85px 0;

	.main-content{
		width: 625px;
	}

	h1{
		font-size: 2em;
		margin: 25px 0 10px;
	}

	img{
		padding: 50px 0 25px;
	}

	p{
		padding: 25px 0 0 0;
		line-height: 2em;
		text-align: justify;
	}

	footer{
		width: 960px;

		p{
			text-align: center;
			padding: 0;
			margin: 30px 0;
		}
	}
}

nav{
	top:60px;
	left: 50px;
	width: 130px;
	font-size: .9em;
	line-height: 1.8em;
}

footer{
	padding: 40px;

	p{
		margin: 40px 0;
		font-size: .9em;
	}

	p:nth-child(1){
		a{
			margin: 0px 40px;
			&:nth-child(1){
				margin-left: 0px;
			}
			&:nth-last-child(1){
				margin-right: 0px;
			}
		}
	}

	p:nth-child(2){
		letter-spacing: .215em;
		word-spacing: 7px;
	}
}
