@import 'white_inside_pages';

.inside-page{
	.case-study{
		ul{
			list-style-type:disc;
		}
		ol{
			list-style-type: decimal;
		}
		.case-study-intro{
			cursor: pointer;
			a{
				color: $lighter-gray;
				&.more, &.less{
					display: block;
				}
				&.less{
					display: none;
				}
			}
		}
		.case-study-content{
			display: none;
			padding-bottom:30px;
			border-bottom:1px solid $medium-gray;
			a{
				color: $lighter-gray;
			}
		}
		h2{
			font-size: 1.4em;
			margin-top:30px;
		}
		h3{
			font-size: 1.2em;
			padding: 25px 0 0 0;
			
			
		}

		sub{
			font-size: 0.8em;
			vertical-align: sub;
		}

		#code-appendix{
			p{
				text-align: left;
				line-height: 1.3em;
			}
		}
	}
}


/*-----
	Desktop Styles
				-----*/
.inside-page{
	.case-study{
		margin: 30px 0 60px;
		ul, ol{
			margin: 20px 0;
			li{
				margin: 16px 0 16px 20px;
				line-height: 1.5em;
			}
		}
		.case-study-intro{
			a{
				margin: 10px 0 0 0;
			}
		}

		#code-appendix{
			margin-top: 30px;
			div{
				margin: 15px 0 30px;
				ul{
					margin: 10px 0 20px;
					li{
						list-style-type: none;
						margin: 0px;
						line-height: 1.3em;
					}
				}
			}
		}
	}
	
}