html {
  background-color: white; }

.inside-page {
  background-color: white;
  color: #464c57; }
  .inside-page nav {
    background-color: #464c57;
    color: white;
    font-family: "Raleway", sans-serif; }
    .inside-page nav a {
      background-position: 94% 50%; }
  .inside-page footer a {
    color: #464c57; }

/*------ Desktop Styles -----*/
.inside-page .main-content a {
  display: inline-block; }
.inside-page .main-content img {
  padding: 0px; }
  .inside-page .main-content img:nth-child(odd) {
    padding-right: 40px; }
