@import 'dark_inside_pages';

.inside-page{ 
	width:100%;
	h1{
		margin:40px 0 20px;
	}
	.full-width{
		width: 100%;
	}
}

ul{
	text-decoration:none;
	strong{
		font-weight: bold;
	}
}


//Desktop Styles

ul{
	li{
		line-height: 2em;
	}
	margin-bottom:40px;
}