body {
  background-color: #2e2f2e;
  font-weight: 100;
  color: white; }

nav a {
  background-position: 94% 50%; }

/*------ Desktop Styles -----*/
.inside-page h1 {
  margin-top: 50px; }
.inside-page h2 {
  font-size: 1.4em;
  margin: 30px 0 0 0; }

nav {
  padding: 5px 10px; }

.response {
  width: 430px;
  margin: 70px auto -30px; }
  .response p {
    margin-top: 10px; }

#contact input, #contact textarea {
  background-color: #2e2f2e;
  border: 1px solid white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: white; }
#contact #submit {
  border: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer; }

/*--- Desktop Styles ---*/
#contact {
  margin: 100px auto 160px;
  width: 430px; }
  #contact h1 {
    margin: 0 0 20px;
    padding-bottom: 10px;
    font-size: 1.5em;
    letter-spacing: .2em; }
  #contact input {
    width: 330px;
    margin-bottom: 20px;
    padding: 15px 25px;
    font-size: 1em; }
    #contact input:nth-child(2), #contact input:nth-child(4) {
      margin-right: 80px; }
  #contact textarea {
    width: 330px;
    height: 200px;
    font-size: 1em;
    padding: 15px 25px; }
  #contact #submit {
    width: auto;
    height: auto;
    font-size: 1em;
    letter-spacing: .2em;
    padding: 0px 17px 0px 0px;
    margin: 20px 0 0 2px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100; }
