@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%; }

a, a:visited, a:hover {
    color: white;
    text-decoration: none;
}

.space {height:265px; min-height:1px;}

html {
  background-color: #2e2f2e;}

  body {
    font-family: "Raleway", sans-serif; background-color: #2e2f2e; color:#FFF; font-weight:100; line-height:1;}
    body h1{
      font-size: 3.6em; font-weight: 100; letter-spacing: 0.05em; margin: 0; text-transform: uppercase;}
    body h2 {
      font-size: 1.35em; letter-spacing: 0.25em; line-height: 1.5em; text-transform: uppercase; font-weight:100;}
    body #network-image img {
      width:100%;}
    body #background-graph {
      background: url("../images/home_page/background-graph.png") no-repeat left top; background-size:100% auto; width:100%; height:100%;
    }


    /*********
      SECTIONS
      *********/
    section {padding:100px 0;}

      /*** MODULES ***/
      #modules {padding-top:0;}
      #modules h1 {
        font-size: 16px; line-height: 16px; margin-bottom:14px;}

      #modules div {
        letter-spacing: .1em; font-size: 0.9em; line-height: 1.7em;}
        #modules .module {
         margin: 30px auto;}
          #modules .module .module-image {
            height:88px;}
          #modules .module p {
            line-height: 1.3em; top: 100px; letter-spacing: 0.1em;font-size: 1.2em;}

          /* icon sizes are set differently because the
             image sizes are not the same.
          */
          #modules img.ico-share {
            width: 54px; height: 50px;}
          #modules img.ico-pricing {
            width: 60px; height: 50px;}
          #modules img.ico-recommend {
              height: 50px; width: 50px;}
          #modules img.ico-gear {
            width: 62px; height: 60px;}
          #modules img.ico-relations {
            width: 60px; height: 67px;}
          #modules img.ico-abacus {
            width: 65px; height: 47px;}
          #modules img.ico-geo-inference {
            height: 48px; width: 80px;}

      /*** CONTACT ***/
      #contact .contact-form h1 {
        border-bottom: 1px solid white;font-size: 1.4em; letter-spacing: .2em;display: inline-block; line-height: 1.8em;}
      #contact .contact-form {
        border: 2px solid white; border-radius: 15px; -moz-border-radius: 15px; margin:15px;}
        #contact .contact-form form .inner-form {
          margin-top:30px; margin-bottom:40px;}
        #contact .contact-form form .inner-form .contact-input {
          margin-top:10px; margin-bottom:10px;
        }
        #contact .contact-form form .inner-form .contact-input > div {
          padding: 25px; background-color: #2e2f2e; border: 1px solid white; border-radius: 5px; -moz-border-radius: 5px; }
        #contact .contact-form form .inner-form .contact-input input {
          background-color: transparent; border: medium none; font-size: 1em; color: #FFF; width:100%; font-weight:normal;}
        #contact .contact-form form .inner-form #submit-btn {
          color:#FFF; background-color:transparent; text-transform: uppercase; border: medium none; font-family: 'Raleway', sans-serif; font-weight: 100; cursor: pointer; font-size: 1.4em; letter-spacing: .2em; margin-top:35px;}

      /*** DATA STACK ***/
      #datastack .layers div {height:295px;}
        #datastack .layers div > img {width:100%;}

      #datastack .layers .layer1 {
        top:0; z-index:60; background:url('../images/home_page/data_stack/layers/api.png') no-repeat; background-size:100% auto;}
      #datastack .layers .layer2 {
        top:-220px; z-index:50; background:url('../images/home_page/data_stack/layers/machine_learning.png') no-repeat; background-size:100% auto;}
      #datastack .layers .layer3 {
        top:-435px; z-index:40; background:url('../images/home_page/data_stack/layers/access.png') no-repeat; background-size:100% auto;}
      #datastack .layers .layer4 {
        top:-650px; z-index:30; background:url('../images/home_page/data_stack/layers/infrastructure.png') no-repeat; background-size:100% auto;}
      #datastack .layers .layer5 {
        top:-865px; z-index:20; background:url('../images/home_page/data_stack/layers/etl.png') no-repeat; background-size:100% auto;}

    /*** MAP ***/
      body #map {padding-top:335px;}
      body #map #map-canvas {
        height: 100%; min-height: 400px; }
