@import 'universal';

body{


	text-align:center;
	background-color: $background-color;
	font-family: $default-fonts;
	color: $default-color;

	nav{
		position:absolute;
		width: 120px;
		font-size: .9em;
		cursor:pointer;
		line-height: 1.8em;

		a{
			background: url('../images/home_page/down-arrow.png') no-repeat 94% 40%;
			text-align: left;
			display: inline-block;
			width: 100%;
			
		}

		ul{
			text-align: left;
			display: none;

			li:hover{
				font-weight: bold;
			}
		}
	}

	h1,h2{
		text-transform: uppercase;
	}

	h1{
		margin:240px 0 0 0;
		font-size: 3.6em;
		font-weight: 100;
		letter-spacing: .05em;
	}

	h2{
		line-height: 1.5em;
		font-size: 1.35em;
		letter-spacing: .25em;
	}

	#background-graph{
		background-image: url('../images/home_page/background-graph.png');
		width: 100%;
		height: 500px;
		margin: -280px 0 0 0;
	}

	#modules-section{
		max-width: 960px;
		width: 100%;
		margin: 50px auto;
		div{
			display: inline-block;
			width: 250px;
			letter-spacing: .1em;
			font-size: 0.9em;
			line-height: 1.7em;

			&:nth-child(2), &:nth-child(5){
				margin: 0 60px;
			}

			img{
				margin: 0 0 5px 0;
			}
		}
		
	}

	#data-stack{
		div{
			position: relative;
		}
		div:nth-child(1){
			background: url('../images/home_page/data_stack/sixth-layer.png') no-repeat;
			z-index: 60;
		}

		div:nth-child(2){
			background: url('../images/home_page/data_stack/fifth-layer.png') no-repeat;
			z-index: 50;
		}
		div:nth-child(3){
			background: url('../images/home_page/data_stack/fourth-layer.png') no-repeat;
			z-index: 40;
		}

		div:nth-child(4){
			background: url('../images/home_page/data_stack/third-layer.png') no-repeat;
			z-index: 30;
		}
		div:nth-child(5){
			background: url('../images/home_page/data_stack/second-layer.png') no-repeat;
			z-index: 20;
		}

		div:nth-child(6){
			background: url('../images/home_page/data_stack/first-layer.png') no-repeat;
			z-index: 10;
		}


	} 

	.full-width-button{
		display: inline-block;
		background-color: $medium-gray;
		margin: 10px auto 50px;
		padding: 30px;
		border-radius:10px;
		font-size: 1.4em;
		line-height: 1.4em;

		&:hover{
			background-color: $light-gray;
		}
	}

	#map-canvas { 
		height: 100%;
		min-height: 400px;
	}

}


/*-------------------------------
-----  Desktop Styles -----------
--------------------------------*/

//@media only screen and (min-width:1280px)

body{
	nav{
		top:60px;
		left: 50px;

	}
	#modules-section{
		div{
			&:nth-child(4),&:nth-child(5),&:nth-child(6){
				margin-top: 70px;
			}
		}
	}

	.full-width-button{
		width: 800px;
	}

	#data-stack{
		margin: 0 auto;
		padding-top:30px;
		width: 776px;
		height: 679px;
	}

	#data-stack div{
		height: 160px;
		margin-bottom: -70px;
		vertical-align: baseline;
	}

	#network-image{
		height: 400px;
		overflow: hidden;
	}

	footer{
		padding: 40px;

		p{
			margin: 40px 0;
			font-size: .9em;
		}

		p:nth-child(1){
			word-spacing:50px;
		}

		p:nth-child(2){
			letter-spacing: .215em;
			word-spacing: 7px;
		}
	}
}
