@import 'universal';

body{
	text-align:center;
	background-color: $background-color;
	font-weight:100;
	color: $default-color;

	h1,h2{
		text-transform: uppercase;
	}

	h1{
		margin:0px 0 0 0;
		font-size: 3.6em;
		font-weight: 100;
		letter-spacing: .05em;
	}

	h2{
		line-height: 1.5em;
		font-size: 1.35em;
		letter-spacing: .25em;
	}

	#background-graph{
		background: url('../images/home_page/background-graph.png') no-repeat left top;
		width: 100%;
	}

	#modules-section{
		max-width: 960px;
		width: 100%;
		margin: 50px auto;
		div{
			display: inline-block;
			position: relative;
			vertical-align: top;

			h1,p{
				position: absolute;
			}
			
		}
	}

	#hadoop{
		text-align: center;

		img{
			margin: 0 auto;
		}

		.divider{
			border-top: 2px solid white;
		}

		h1,p{
			margin: 0 auto;
		}

		h1{
			text-align: justify;
		}

		p{
			text-align: justify;
		}
	}

	#contact{
		width: 890px;
		margin: 120px auto;
		border: 2px solid white;
		border-radius: 15px;
		-moz-border-radius: 15px;

		h1{
			border-bottom: 1px solid white;
		}
		input{
			background-color: $background-color;
			border: 1px solid white;
			border-radius: 5px;
			-moz-border-radius: 5px;
		}
		a{
			display: block;
			text-align: right;
			text-transform: uppercase;
		}
	}

	#data-stack{
		h1{
			border-bottom: 1px solid white;
		}
		div{
			position: relative;
		}
		div:nth-child(2){
			background: url('../images/home_page/data_stack/sixth-layer.png') no-repeat;
			z-index: 60;
		}

		div:nth-child(3){
			background: url('../images/home_page/data_stack/fifth-layer.png') no-repeat;
			z-index: 50;
		}
		div:nth-child(4){
			background: url('../images/home_page/data_stack/fourth-layer.png') no-repeat;
			z-index: 40;
		}

		div:nth-child(5){
			background: url('../images/home_page/data_stack/third-layer.png') no-repeat;
			z-index: 30;
		}
		div:nth-child(6){
			background: url('../images/home_page/data_stack/second-layer.png') no-repeat;
			z-index: 20;
		}

		div:nth-child(7){
			background: url('../images/home_page/data_stack/first-layer.png') no-repeat;
			z-index: 10;
		}


	} 

	.full-width-button{
		display: inline-block;
		background-color: $medium-gray;
		margin: 10px auto 50px;
		padding: 30px;
		border-radius:10px;
		font-size: 1.4em;
		line-height: 1.4em;

		&:hover{
			background-color: $light-gray;
		}
	}

	#map-canvas { 
		height: 100%;
		min-height: 400px;
	}

}


/*-------------------------------
-----  Desktop Styles -----------
--------------------------------*/

//@media only screen and (min-width:1280px)

body{

	#background-graph{
		height: 400px;
		margin: -150px 0 0 0;
	}

	#modules-section{
		div{
			width: 250px;
			height: 220px;
			letter-spacing: .1em;
			font-size: 0.9em;
			line-height: 1.7em;

			h1,p{
				width: 250px;
			}

			h1{
				font-size: 1.2em;
				line-height: 1.2em;
				top: 70px;

			}

			p{
				line-height: 1.3em;
				top: 100px;
			}

			

			&:nth-child(2), &:nth-child(5){
				margin: 0 60px;
			}

			&:nth-child(4) h1, &:nth-child(5) h1, &:nth-child(6) h1{
				top:90px;
			}

			&:nth-child(4) p, &:nth-child(5) p, &:nth-child(6) p{
				top:120px;
			}

			img{
				margin: 0 0 5px 0;
			}

			&:nth-child(6) img{
				position: relative;
				top: 15px;
			}
		}
	}

	#hadoop{
		margin: 160px auto 80px;
		width: 390px;

		.divider{
			margin: 35px 0;
		}

		h1,p{
			
			width: 245px;
		}

		h1{
			font-size: 1.45em;
			letter-spacing: .2em;
		}

		p{
			margin-top: 35px;
			margin-bottom: 35px;
			letter-spacing: .03em;
			line-height: 1.4em;
		}
	}

	#contact{
		padding: 45px 60px;

		h1{
			width: 195px;
			margin: 0 0 35px 45px;
			padding-bottom:10px;
			font-size: 1.45em;
			letter-spacing: .2em;
			text-align: center;
		}

		input{
			width: 330px;
			margin-bottom:40px;
			padding: 25px;
			font-size: 1em;
			color: white;
			&:nth-child(2), &:nth-child(4){
				margin-right: 80px;
			}
		}

		a{
			font-size: 1.45em;
			letter-spacing: .2em;
			padding-right:17px;
		}
	}

	.full-width-button{
		width: 800px;
	}

	#data-stack{
		margin: 0 auto;
		padding-top:30px;
		width: 850px;
		height: 800px;

		h1{
			width: 250px;
			margin: 0 0 45px 25px;
			padding-bottom:10px;
			font-size: 1.45em;
			letter-spacing: .2em;
			text-align: center;
		}
	}

	#data-stack div{
		height: 160px;
		margin-bottom: -70px;
		vertical-align: baseline;
	}

	#network-image{
		height: 300px;
		overflow: hidden;
	}
}
