@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%; }

  a, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
}

html {
  background-color: #2e2f2e;}

  body {
    font-family: "Raleway", sans-serif;
    background-color: #2e2f2e;
    color:#FFF;
    font-weight:100;
    line-height:1; }

    body.white {
      background-color: #FFF;
      color: #464c57;
      font-weight:normal;
    }

    body.white  a {
        color: #464c57;
    }

    
    body h1 {
      font-size: 3.6em;
      font-weight: 100;
      letter-spacing: 0.05em;
      margin: 0;
      text-transform: uppercase; }
    body h2 {
      font-size: 1.35em;
      letter-spacing: 0.25em;
      line-height: 1.5em;
      text-transform: uppercase;
      font-weight:100; }


.nav-menu {
  height:235px;}

/***************
  TOP SIDE-NAV
  ****************/
  /** default version **/
  body .side-nav {
    margin: 80px 0; }
  nav {}
    nav .dropdown {}
      
      nav .dropdown a {
        background:transparent;
        border:none;
        color:#fff;
        font:inherit;
        font-size:0.9em; }
      nav .dropdown a:hover {
        background:transparent;
        border:none;
        color:#fff;
        font:inherit;
        font-size:0.9em; }
      nav .dropdown ul.dropdown-menu {
        background:transparent;
        box-shadow:0 0 0 0;
        border: none;
        border-radius: 0;
        margin-left:20px;
        margin-top: -5px; }
        
        nav .dropdown ul.dropdown-menu li > a {
          color:#fff;
          font-size: 1.0em;
          font-weight:100;
          line-height: 1.8em; }
        nav .dropdown ul.dropdown-menu li > a:hover {
          background:transparent;
          font-weight:bold;}

  /** white version **/
  body.white .side-nav {
    margin: 80px 0; }
    body.white nav {}
      body.white nav .dropdown {}

        body.white nav .dropdown a {
            background:#464c57;
            border:none;
            color:#fff;
            font:inherit;
            font-size:0.9em;
            padding: 10px 24.5px; }
          body.white nav .dropdown ul.dropdown-menu {
            background:#464c57;
            box-shadow:0 0 0 0;
            border: 1px solid #464c57;
            border-radius: 0 0 8px 8px;
            margin-left:15px; }
            
            body.white nav .dropdown ul.dropdown-menu li > a {
              color:#fff;
              font-size: 1.0em;
              font-weight:normal;
              line-height: 1.1em; }
            body.white nav .dropdown ul.dropdown-menu li > a:hover {
              background:#464c57;
              color:#fff;
              font-weight:bold;
              border-radius: 4px 4px 0 0; }

/******
  ICONS
  *******/
/* icon sizes are set differently because the
    image sizes are not the same.
  */
img.ico-share {
  width: 54px; height: 50px;}
img.ico-pricing {
    width: 60px; height: 50px;}
img.ico-recommend {
    height: 50px; width: 50px;}
img.ico-gear {
    width: 62px; height: 60px;}
img.ico-relations {
    width: 60px; height: 67px;}
img.ico-abacus {
    width: 65px; height: 47px;}
img.ico-geo-inference {
    height: 48px; width: 80px;}

.header-image img {
  width:75%; }

/*****************
  FOOTER SECTION
  *****************/
#footer {
  padding: 70px 0; }

  /** Collapse Nav **/
  #footer .collapse-nav {
    display: none; }
    #footer .collapse-nav button {
      background:transparent;
      border:transparent;
      font-size:18px;
      color:#FFF; }
    #footer .collapse-nav .dropdown-menu {
      background-color: #2e2f2e;
      border: medium none transparent; 
      box-shadow: 0 0 0 0;
      border-radius:0;
      margin-left:34px; }
    #footer .collapse-nav .dropdown-menu li > a {
      color:#FFF;
      font-size: 1.0em;
      font-weight:100;
      line-height: 1.8em;
      text-align:center; }
    #footer .collapse-nav .dropdown-menu li > a:hover {
      background:transparent;
      font-weight:bold; }

  /** Default Nav **/
  #footer .footer-nav {
    padding: 0;}
  #footer .footer-nav ul > li {
    font-size:0.9em;
    margin:0 19px;
    list-style:none; }

  /** Company **/
  #footer .footer-company {
    margin-top: 30px;
    margin-bottom:40px; }
    #footer .footer-company div {
      letter-spacing: .215em;
      word-spacing: 7px;
      font-size: 0.9em;
      border-right:1px solid rgba(255, 255, 255, 0.3); }
    #footer .footer-company div.last {
      border-right:none; }


/*
####################
# 640X480 (IPAD) #
####################
*/
@media (max-width:660px) {

  /*************
    TOP SIDE-NAV
    *************/
  /** Default version **/
  body .nav-menu {
    height:85px;}
    nav {}
      nav .dropdown {}
        nav .dropdown ul.dropdown-menu {
          margin-left:235px;
          background-color:#2e2f2e; }

  /** White version **/
  body.white .side-nav {
    margin:0; }
  body.white .nav-menu {}
    body.white nav {}
      body.white nav .dropdown {}
        body.white nav .dropdown a {
          border-radius: 20px }
        body.white nav .dropdown:hover > a {
          border-radius: 20px 20px 0 0;}
        body.white nav .dropdown ul.dropdown-menu {
          margin-left: 49px;
          border-radius:0 0 20px 20px;}
        body.white nav .dropdown ul.dropdown-menu li a {
          background:transparent;}


  /******
    ICONS
    *******/
  /* icon sizes are set differently because the
      image sizes are not the same.
    */
  img.ico-share {
    width: 44px; height: 40px;}
  img.ico-pricing {
      width: 50px; height: 40px;}
  img.ico-recommend {
      height: 40px; width: 40px;}
  img.ico-gear {
      width: 52px; height: 50px;}
  img.ico-relations {
      width: 50px; height: 57px;}
  img.ico-abacus {
      width: 55px; height: 37px;}
  img.ico-geo-inference {
      height: 38px; width: 70px;}

.header-image {text-align:center;}
  .header-image img {
    width:15%; }

  /*******
    FOOTER
    ********/
    #footer {}
      #footer .footer-nav ul {text-align:center;}
      #footer .footer-nav ul > li {
        display: inline-block;
        margin: 0 5px; }

      #footer .footer-company > div {
        display:inline-block;
        letter-spacing: 0.125em;
        word-spacing: 0;
      }

    body.white #footer {}
      body.white #footer .collapse-nav button {
        color:#464c57;}
}

/*
####################
# 320X480 (IPHONE) #
####################
*/
@media (max-width:340px) {

  /*************
    TOP SIDE-NAV
    *************/
  /** default version **/
  .side-nav {
    margin:0; }
  .nav-menu {
    height:72px;}
    nav {}
      nav > div {text-align:center;}
      nav .dropdown {}
        nav .dropdown ul.dropdown-menu {
          margin-left:50px; background-color:#2e2f2e;}

  /** White version **/
  body.white .side-nav {
    margin:0; }
  body.white .nav-menu {}
    body.white nav {}
      body.white nav .dropdown {}
        body.white nav .dropdown a {
          border-radius: 20px }
        body.white nav .dropdown:hover > a {
          border-radius: 20px 20px 0 0;}
        body.white nav .dropdown ul.dropdown-menu {
          margin-left: 49px;
          border-radius:0 0 20px 20px;}
        body.white nav .dropdown ul.dropdown-menu li a {
          background:transparent;}

  /******
    ICONS
    *******/
  /* icon sizes are set differently because the
      image sizes are not the same.
    */
  img.ico-share {
    width: 44px; height: 40px;}
  img.ico-pricing {
      width: 50px; height: 40px;}
  img.ico-recommend {
      height: 40px; width: 40px;}
  img.ico-gear {
      width: 52px; height: 50px;}
  img.ico-relations {
      width: 50px; height: 57px;}
  img.ico-abacus {
      width: 55px; height: 37px;}
  img.ico-geo-inference {
      height: 38px; width: 70px;}


  .header-image {text-align:center;}
  .header-image img {
    width:40%; }

  /*******
    FOOTER
    ********/
  #footer {}
    #footer .collapse-nav {
      display:block; }
    #footer .footer-nav {
      display: none; }
  
    #footer .footer-company div {
      border:none;
      padding:0; }
    #footer .footer-company div:nth-child(1) {
      font-size: 1.23em;
      letter-spacing: 0.19em;
      line-height: 0.8em;
      text-transform: uppercase;
      word-spacing: 0; }
    #footer .footer-company div:nth-child(2) {
      font-size: 0.8em;
      letter-spacing: 0.1em;
      line-height: 2.1em;
      word-spacing: 0; }

  body.white #footer {}
    body.white #footer .collapse-nav button {
      color:#464c57;}
}