@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);
/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both; }

/*------ Universal Styles -------*/
a, a:visited, a:hover {
  color: white;
  text-decoration: none; }

.inside-page {
  margin: 0 auto; }
  .inside-page .main-content {
    margin: 0 auto; }
  .inside-page footer {
    margin: 0 auto; }

body {
  font-family: "Raleway", sans-serif; }

nav {
  position: absolute;
  cursor: pointer; }
  nav .drop-down {
    background: url("../images/home_page/down-arrow.png") no-repeat 88% 45%;
    text-align: left;
    display: inline-block;
    width: 100%; }
  nav ul {
    text-align: left;
    display: none; }
    nav ul li:hover {
      font-weight: bold; }

/*----- Desktop Styles -----*/
html {
  background-color: #2e2f2e; }

.inside-page {
  width: 1280px;
  padding: 85px 0; }
  .inside-page .main-content {
    width: 625px; }
  .inside-page h1 {
    font-size: 2em;
    margin: 25px 0 10px; }
  .inside-page img {
    padding: 50px 0 25px; }
  .inside-page p {
    padding: 25px 0 0 0;
    line-height: 2em;
    text-align: justify; }
  .inside-page footer {
    width: 960px; }
    .inside-page footer p {
      text-align: center;
      padding: 0;
      margin: 30px 0; }

nav {
  top: 60px;
  left: 50px;
  width: 130px;
  font-size: .9em;
  line-height: 1.8em; }

footer {
  padding: 40px; }
  footer p {
    margin: 40px 0;
    font-size: .9em; }
  footer p:nth-child(1) a {
    margin: 0px 40px; }
    footer p:nth-child(1) a:nth-child(1) {
      margin-left: 0px; }
    footer p:nth-child(1) a:nth-last-child(1) {
      margin-right: 0px; }
  footer p:nth-child(2) {
    letter-spacing: .215em;
    word-spacing: 7px; }

body {
  background-color: #2e2f2e;
  font-weight: 100;
  color: white; }

nav a {
  background-position: 94% 50%; }

/*------ Desktop Styles -----*/
.inside-page h1 {
  margin-top: 50px; }
.inside-page h2 {
  font-size: 1.4em;
  margin: 30px 0 0 0; }

nav {
  padding: 5px 10px; }

.inside-page #main-content .module .module-heading {
  cursor: pointer;
  vertical-align: middle;
  position: relative; }
  .inside-page #main-content .module .module-heading h1, .inside-page #main-content .module .module-heading img {
    display: inline-block; }
  .inside-page #main-content .module .module-heading img {
    vertical-align: middle; }
  .inside-page #main-content .module .module-heading h1 {
    position: absolute;
    -webkit-text-size-adjust: 100%; }
.inside-page #main-content .module .module-content {
  display: none; }

/*----- Desktop Styles ------*/
.inside-page #main-content {
  width: 860px;
  margin: 30px auto; }
  .inside-page #main-content h1 {
    margin: 10px 0 50px 0; }
  .inside-page #main-content .module {
    padding: 30px 20px;
    margin: 30px 0;
    border: 2px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px; }
    .inside-page #main-content .module .module-heading h1 {
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 0;
      top: 9px;
      left: 95px; }
    .inside-page #main-content .module .module-heading img {
      padding: 0 300px 0 0; }
    .inside-page #main-content .module .module-content {
      margin-top: 20px;
      line-height: 1.5em; }

/*----- icons -----*/
img.ico-modules {
  width:100px;
  height:116px; }
img.ico-share {
  width: 54px;
  height: 50px; }
img.ico-pricing {
  width: 60px;
  height: 50px; }
img.ico-recommend {
    height: 50px;
    width: 50px; }
img.ico-gear {
  width: 62px;
  height: 60px; }
img.ico-relations {
  width: 60px;
  height: 67px; }
img.ico-abacus {
  width: 65px;
  height: 47px; }
