body {
  background-color: #2e2f2e;
  font-weight: 100;
  color: white; }

nav a {
  background-position: 94% 50%; }

/*------ Desktop Styles -----*/
.inside-page h1 {
  margin-top: 50px; }
.inside-page h2 {
  font-size: 1.4em;
  margin: 30px 0 0 0; }

nav {
  padding: 5px 10px; }

.side-nav {
  margin: 65px 0 0 10px; }

.main-content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .main-content {
      float: left;
      width: 83.33333%; } }
  @media (min-width: 768px) {
    .main-content {
      margin-left: 8.33333%; } }
  .main-content .page-icon {
    width: 100px;
    margin: 50px 0; }
    .main-content .page-icon img {
      padding-top: 50px;
      display: block;
      display: block;
      max-width: 100%;
      height: auto; }
    @media (max-width: 639px) {
      .main-content .page-icon {
        width: 64px;
        text-align: center;
        margin: 50px auto; }
        .main-content .page-icon img {
          padding-top: 50px; } }
  .main-content .page-title {
    margin-top: 10px;
    margin-bottom: 50px;
    text-transform: none; }
    @media (max-width: 768px) {
      .main-content .page-title {
        display: none; } }
  .main-content .module {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    padding: 30px;
    border: 2px solid white;
    border-radius: 8px;
    margin-bottom: 50px; }
    @media (max-width: 640px) {
      .main-content .module {
        border-radius: 32px; } }
    @media (max-width: 639px) {
      .main-content .module {
        padding: 15px;
        border-radius: 24px; } }
    .main-content .module-heading:before, .main-content .module-heading:after {
      content: " ";
      display: table; }
    .main-content .module-heading:after {
      clear: both; }
    .main-content .module-content {
      display: none;
      margin-top: 20px;
      font-size: 1.2em;
      line-height: 1.5em; }
      .main-content .module-content .more {
        margin-top: 20px; }
    .main-content .module-img {
      position: relative;
      float: left;
      width: 16.66667%;
      min-height: 1px;
      padding-left: 0;
      padding-right: 0;
      text-align: left; }
      .main-content .module-img img {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 auto;
        max-width: 54px; }
        @media (max-width: 639px) {
          .main-content .module-img img {
            margin-top: 10px;
            max-width: 24px; } }
    .main-content .module-title {
      position: relative;
      float: left;
      width: 83.33333%;
      min-height: 1px;
      padding-left: 0;
      padding-right: 0;
      text-align: left; }
      .main-content .module-title h1 {
        text-transform: none;
        text-align: left;
        margin-top: 0;
        font-size: 1.8em;
        line-height: 1.8em; }
        @media (max-width: 640px) {
          .main-content .module-title h1 {
            margin-top: 4px;
            font-size: 1.1em; } }
        @media (max-width: 639px) {
          .main-content .module-title h1 {
            margin-top: 0;
            font-size: .7em; } }
  .main-content > .content {
    margin-top: 90px; }
    .main-content > .content > h1 {
      font-size: 2em; }
    .main-content > .content > h2 {
      font-size: 1.6em;
      text-transform: none;
      margin-top: 30px; }
    .main-content > .content > p {
      font-size: 1.2em;
      line-height: 1.5em;
      padding-top: 25px; }
      .main-content > .content > p:last-child {
        margin-top: 30px; }
    .main-content > .content > .list-unstyled {
      padding-left: 80px; }
      .main-content > .content > .list-unstyled li {
        font-size: 1.2em;
        line-height: 1.5em; }
  .main-content > p {
    padding-top: 25px;
    line-height: 2em;
    font-size: 1.2em; }
