html {
  background-color: white; }

.inside-page {
  background-color: white;
  color: #464c57; }
  .inside-page nav {
    background-color: #464c57;
    color: white;
    font-family: "Raleway", sans-serif; }
    .inside-page nav a {
      background-position: 94% 50%; }
  .inside-page footer a {
    color: #464c57; }

/*------ Desktop Styles -----*/
.inside-page h2 {
  font-size: 1.5em;
  margin: 25px 0 0; }
.inside-page h3 {
  text-transform: uppercase;
  margin-top: 25px; }
.inside-page p {
  line-height: 1.3em; }
